.btn-add {
    -fx-background-color: #3cc98a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}

.btn-add:hover {
    -fx-background-color: #2b9968;
}

.btn-primary {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #3498db;
}

.btn-danger {
    -fx-background-color: #c0392b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}

.btn-danger:hover {
    -fx-background-color: #e74c3c;
}

.btn-secondary {
    -fx-background-color: #7f8c8d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}

.btn-secondary:hover {
    -fx-background-color: #95a5a6;
}
